body {
    background-image: url("img/fondo_todos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
  
  .contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: transparent;
  }
  
  .contenedor img {
    width: 125px;
    height: 100px;
  }
  
  .izquierda {
    display: flex;
    align-items: center;
  }
  
  .texto {
    background-color: #f0f8ff; /* Fondo azul claro */
    padding: 15px;           /* Espacio interno alrededor del texto */
    border-radius: 10px;     /* Bordes redondeados */
    border: 1px solid #ccc;  /* Línea de borde gris */
    max-width: 600px;        /* Ancho máximo del párrafo */
    margin: 20px auto;       /* Centrado horizontal */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
  }